
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    }

    .header {
        width: auto;
        height: auto;
        margin: auto;
    }

    .home-menu {
        text-align: center;
        width: 1400px;
        margin: auto;
    }
    .home-menu nav ul {
        display: flex;
        list-style: none;
    }
    
    .home-menu nav ul li a {
        font-size: 47px;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;


        .section-01-box {
            width: 1300px;
            height: auto;
            margin: auto;
        }
    }    
    .section-02 {
        width: 490px;
        height: 300px;
        display: flex;
    }